@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  background-color: hsl(244, 38%, 16%);
  border-radius: 5px;
}

.text-box {
  padding: 5%;
}

.text-box h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}

.text-box h2 span {
  color: hsl(277, 64%, 61%);
}

.text-box p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}

.text-box .stats-container {
  display: flex;
  margin-bottom: -20px;
}

.text-box .stats-container .stat {
  flex: 1;
}

.text-box .stats-container .stat h3 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}

.text-box .stats-container .stat p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 10px;
  letter-spacing: 1px;
}

.picture {
  position: relative;
  background-image: url(images/image-header-desktop.jpg);
  background-size: 100% 100%;
  align-self: stretch;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.layer {
  background-color: hsla(277, 82%, 35%, 0.39);
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .main {
    height: 100%;
  }

  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text-box {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10%;
  }

  .text-box .stats-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-box .stats-container .stat {
    flex: 0;
  }

  .text-box .stats-container .stat h3 {
    margin-bottom: 0px;
    font-size: 1.4em;
  }

  .picture {
    order: -1;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 273px;
  }
}
